@charset "gb2312";
html,body,div,table,th,td,p,ul,li,aa,dl,dt,dd{ font-family:Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; padding: 0px; margin:0px; color:#787878}
body{ text-align:center}
div{ overflow:hidden}
a{ text-decoration:none; outline:none; }
table,th,td{ border-collapse:collapse; border-spacing:0px; vertical-align:top}
ul,li{ list-style-type:none; background-repeat:no-repeat}
#container{ margin:0px auto;width:1003px; text-align:left}
a:link{ color:#787878}/*常规，非访问超链接*/
a:visited{ color:#787878}/*访问超链接*/
a:hover { color:#333333; text-decoration: none}/*访问者操作鼠标通过时的链接 */
a:active{ color:#990000; text-decoration:underline}/*点击链接*/
img{ border:none}

/*分页样式*/
#Divpage{width:290px; margin:0 auto; text-align:center; padding-left:10px; padding-top:18px;}
#Divpage li{ float:left; width:auto; padding:2px;}
#Divpage li a { color:#333; font-size:12px; }
#Divpage li a:visited { color:#333; font-size:12px; }
#Divpage li a:hover { color:#0079b8; font-size:12px; }




/*sidebar类别*/
.proLi{ width:160px; line-height:30px; border-bottom:#CCCCCC solid 1px; display:block; background:url(../images/li.jpg) no-repeat 30px 50%; padding-left:50px; margin-left:32px;}

a.nav{ width:100px; text-align:center; display:block; float:left; color:#FFFFFF; line-height:30px;}

#nav{
padding-top:17px;
margin-left:60px;

}

#nav li{
float:left;
width:95px;
font-size:13px;
font-weight:bold;

}
#nav li a{
color:#996500;
}

#neiye_main{
margin:10px 10px;
}
#neiye_text{
line-height:25px;
}

#left_nav{
margin-left:30px;
padding-top:7px;
}

#left_nav li{
line-height:20px;
font-size:13px;
color:#333;
}

#left_nav li a{
color:#333;

}

#index_con{
padding-top:10px;
margin-left:10px;
width:200px;
}

#index_con p{
line-height:22px;
}

#index_news{
margin-left:10px;
width:410px;
}

#index_news li{
	line-height:25px;
	border-bottom:1px #aaa dotted;
}

#index_news li em{
	font-style:normal;
	float:right;
}

#index_gsjj{
margin:0 10px;
padding-top:5px;
}

#index_gsjj p{
line-height:26px;
}

#footer{
padding-top:10px;
}

#footer p{
line-height:30px;
text-align:center;
color:#555;
}

.hzhb{
width:120px;
padding-top:10px;
margin-right:10px;
float:left;
}


